* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4C1E77; 
  font-family: "Inter", sans-serif;
}

#container-react {
  width: 100%;                 
  max-width: 1500px;          
  min-height: 70vh;           
  background: #ffffff;
  padding: 5em 10rem;         
  border-radius: 26px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10rem;
}

.identidade {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.identidade img {
  width: 200px;
  margin-bottom: 1rem;
}

.identidade h1{
  font-size: 2rem;
  color: #4C1E77;
  font-weight: 700;
}

.outros-logins {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  align-items: center;
}

.btn-social {
  padding: 0.8rem;
  width: 80%;
  max-width: 280px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  color: #4C1E77;
  font-weight: bolder;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  font-weight: 00;
  box-shadow: 1px 4px 10px rgba(76, 30, 119, 0.452);
}

.right {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(76, 30, 119, 0.12);
  width: 480px;
  max-width: 480px;
}

.formulario-login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #ffffff;
  padding: 2.2rem 2.5rem;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(76, 30, 119, 0.18);
}

label {
  font-size: 1rem;
  color: #4C1E77;
  font-weight: 600;
}

input,
select {
  padding: 0.8rem;
  border: 1px solid #c9b8d9;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  width: 100%;                  
  max-width: none;  
}

input:focus,
select:focus {
  border-color: #4C1E77;
}

.btn-login {
  padding: 0.8rem;
  background: #4C1E77;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(76, 30, 119, 0.2);
}

#container-react {
  position: relative; 
}

.btn-voltar-home {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  color: #4C1E77;
  border: 1px solid rgba(76, 30, 119, 0.18);
  border-radius: 0.5rem;
  padding: 0.6rem 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 10;
}

.btn-voltar-home:hover {
  background: rgba(76, 30, 119, 0.18);
}

@media (max-width: 768px) {
  #container{
    display: flex;
    justify-content: center;
  }
  #container-react {
    flex-direction: column;
    max-width: 90%;
    padding: 2rem 1.3rem;
    gap: 2rem;
  }

  .identidade,
  .right {
    width: 100%;
  }

  .identidade img {
    width: 100px;
  }

  .outros-logins {
    width: 100%;
    align-items: center;
  }

  .btn-social {
    width: 100%;
  }
  .btn-voltar-home {
    border: none;
  padding: 0.5rem;
  
}
}