* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

#container {
  width: 70%;
  background-color: none;
}
#container-react {
  width: 100%;
  max-width: 1200px;
  height: 70vh;
  background-color: rgba(76, 30, 119, 0.384);
  border-radius: 25px;
  display: flex;           
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 50px;
}

.identidade {
  color: rgba(76, 30, 119, 0.384);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px 0 0 25px;
}

.identidade img {
  width: 150px;
  margin-bottom: 1rem;
}

.right {
  background-color: white;
  height: 70%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  border-radius: 25px;
}

.formulario-login {
  width: 80%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
