* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.menu-suspenso{
    width: 100%;
    height: 4rem;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(76, 30, 119, 0.384) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 1.5rem;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    height: 4em;
}

.busca {
    width: clamp(140px, 20vw, 250px);
    gap: 0.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(76, 30, 119, 0.384);
    border-radius: 8px;
    padding: 0.8em;
}

.busca input{
    width: 90%;
    height: 0.8em;
    border: none;
    font-size: 1em;
}

.busca a{
    font-size: 1.5em;
    color: #4C1E77;
}

.barra-tarefas {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-tarefas a{
    font-size: 2em;
    color: #4C1E77;
}

.barra-tarefas a:hover{
    color: #A020F0;
    cursor: pointer;
}

.logout {
    font-size: 2em;
    color: #FF0000;
    border: none;
    background: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .barra-tarefas {
        display: none;
    }

    .busca {
        width: clamp(120px, 40vw, 180px);
    }
}