* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.menu-suspenso{
    width: 100%;
    height: 4rem;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(76, 30, 119, 0.384) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 0 1.5rem;
}

.logo-busca {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
    padding-left: 3rem;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    height: 4em;
}

.busca {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;
    min-width: 160px;
    max-width: 720px;
    padding: 0.8em;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.295);
    border: 1px solid #00000010;
    border-radius: 8px;
}

.busca input{
    width: 95%;
    height: 1em;
    border: none;
    font-size: 1em;
}

.busca input:focus{
    outline: none;
}

.busca a{
    font-size: 1.5em;
    color: #4C1E77;
}

.barra-logout {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.barra-tarefas {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.barra-tarefas a{
    font-size: 2em;
    padding: 0.45em;
    color: #4C1E77;
}

.barra-tarefas a:hover{
    color: #A020F0;
    border-bottom: #4C1E77 3px solid;
    cursor: pointer;
}

.logout {
    padding: 1em;
    font-size: 2em;
    color: #FF0000;
    cursor: pointer;
}

@media (max-width: 768px) {
    .barra-logout {
        display: none;
    }

    .busca {
        width: clamp(120px, 40vw, 180px);
    }
}